@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

:root {
  --back-color: #ff8a65;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

// mixin
@mixin generate-props($prop, $value) {
  -moz-#{prop}: $value;
  -webkit-#{prop}: $value;
  #{$prop}: $value;
}

.body {
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  background: var(--back-color);
  font-family: Montserrat;
}

.card {
  display: flex;
  padding: 1.5rem;
  max-width: 300px;
  background: #f2f3f5;
  gap: 1rem;
  position: relative;
  cursor: pointer;

  @include generate-props(box-shadow, 2px 5px 10px rgba(0, 0, 0, 0.3));
  border-radius: 0.4rem;
  > .card__header {
    display: flex;
    flex-direction: column;
  }
  > .card__header h2 {
    text-transform: uppercase;
    line-height: 1.2em;
  }
  > .card__header data {
    display: block;
    text-transform: uppercase;
    margin-block-start: auto;
    font-size: calc(1rem * 0.7);
    color: #757575;
  }
  > .card__content {
    line-height: 1.4em;
    color: #424242;
  }
}

.card::before {
  content: "";
  clip-path: circle(100%);
  position: absolute;
  background-color: #000;
  background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  pointer-events: none;
}

.card::after {
  position: absolute;
  content: "Layanan";
  // font-size:3rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
